*{
  font-family:'Roboto Slab', serif;
}

body{
  background-color:rgb(0, 0, 0,0.7);
  color: aqua; 
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 70px;
  margin:3vh;
}
.box{
  display: flex;
  flex-direction: column;

  .span,.img{
    margin: 5px auto;
    position: relative;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    width: 60%;
  }
    span{
      font-size: 40px;
      font-weight: 5000px;
    }

}
